.footer ul{
    position: relative;
    display:flex;  
    list-style:none;
    color: white;
    margin-left: 2em;
}

.footer a{
    color: white;
}

.footer {
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
@media screen and (max-width: 1200px) {
	.footer {
		justify-content: center;
	}

    .footer-block {
        width: 100%;
        display: inline-flex;
    }
}
